@using TarkovTracker.Data.Entities
@model IEnumerable<UserDataItem>

<h2>Трекер предметов</h2>

<div class="item-list">
    @foreach (var item in Model)
    {
        <div id="@item.Id" class="item">
            @{
                await Html.RenderPartialAsync("_TrackerItem", item);
            }
        </div>
    }
</div>

<script>
    function increaseItem(id) {
        $.ajax({
            url: '@Url.Action("IncreaseCount", "Tarkov")',
            type: 'POST',
            data: {
                "itemId": id,
            },
            success: function(item) {
                document.getElementById(id).innerHTML = item;
            },
            error: function() {
                alert('Fail to load user item')
            }
        });
    }
    
    function decreaseItem(id) {
        $.ajax({
            url: '@Url.Action("DecreaseCount", "Tarkov")',
            type: 'POST',
            data: {
                "itemId": id,
            },
            success: function(item) {
                document.getElementById(id).innerHTML = item;
            },
            error: function() {
                alert('Fail to load user item')
            }
        });
    }

</script>
