h2 {
    color: #9a8866;
    margin: 30px;
}

.item-list {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: black;
    padding: 10px;
}

.item {
    background: #1a1a1a;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
}