@using TarkovTracker.Data.Entities
@model IEnumerable<UserDataItem>

<h2>Трекер предметов</h2>

<div class="item-list">
    @foreach (var item in Model)
    {
        <div id="@item.Id" class="item">
            @{
                await Html.RenderPartialAsync("_TrackerItem", item);
            }
        </div>
    }
</div>
