body {
}

h2 {
    color: #9a8866;
    margin: 30px;
}

.btn {
    border-radius: 0px;
    background-color: transparent;
    color: #9a8866;
    border: none;
    font-size: 40px;
    align-content:center;
}

p {
    color: #aeaeb0;
    font-size: 30px;
    align-content:center;
}

.item {
    background: #1a1a1a;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
}
h3 {
    margin: 8px;
    color: #9a8866;
}

.item-list {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: black;
    padding: 10px;
}

img {
    display: block;
}
.picData {
    display: flex;
    flex-direction: row;
}

.data {
    vertical-align: central;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 0;
}